a {
	text-decoration: none;
	transition:all .3s ease-out;
}

html{
	font-size:62.5%; 
	font-size: calc(1em * .625); /* Correction du calcul pour les IE (9 a 11) qui considerent qu'un 1em vaut 9.93px et non 10px */
}
body{
	line-height: 1.5;
	font-size:1.8rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: $off-black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.1;
	font-family:'Montserrat',sans-serif;
	font-weight: 500;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color:inherit;
	&:hover {color:$link-hover-color;}
}
h1 { font-size: $h1-fontsize; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 600; }
small { font-size: 75%; }
.light { font-weight: 300!important; }
.thin { font-weight: 200; }


.flow-text{
	font-weight: normal;
	$i: 0;
	@while $i <= $intervals {
		@media only screen and (min-width : 360 + ($i * $interval-size)) {
			font-size: 1.2rem * (1 + (.02 * $i));
		}
		$i: $i + 1;
	}

	// Handle below 360px screen
	@media only screen and (max-width: 360px) {
		font-size: 1.2rem;
	}
}